.THIS .question-header {
    width: 100%;
}
.THIS .question-body {
    width: 100%;
}

.THIS .questions {
    width: 100%;
}

.THIS .question-link {
    margin-top: 5px;
    width: 100%;
}

.THIS .related-question-link {
    margin-top: 5px;
    width: 100%;
}