.THIS    .slds-modal__container{ 
     	height : 750px; 
    	width: 90%; 
    	/*max-width: 70vh; */
   } 
.THIS
   .slds-modal__content { 
     height : 100vh !important; 
     max-height: 100vh !important; 
   }