.THIS {
}
.THIS.nav{
    background-color:yellow;
     display: flex;
    align-items: center; 
}
.THIS .logo{
    padding-left:10px;
    width:40px;
    
}
.THIS .title{
    display:inline;
    color:red;
    font-size: 30px;
    padding-left:10px;
}
.THIS .login__div{
        display:inline;
margin-left: auto;
padding-right: 10px;
}