.mobile-url {
    background: black;
    color: white;
    font-size: 2rem;
    width: 365px;
    margin: 0 auto 1rem auto;
    padding: 0 1rem;
    border-radius: 0.5rem;
}

.qr {
    margin-left: 50px;
}